@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-porcelain: #f1f3f4;
  --color-glacier: #79bac1;
  --color-calypso: #2A7886;
  --color-bossanova: #512B58;

  --font-inria: "Inria Sans", "Noto Sans", "sans-serif";

  --breakpoint-esm: 20rem;
}